/* 
1) color names
2) rgb (red, green, blue)
3) rgba (red, green, blue, transparancy)
4) # hexadecimal
5) hsl

coolors.co
*/


body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    color: darkblue;
}

p {
    color: #259687;
}