@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid black;
    column-gap: 3rem;
}

/* margin collapsing */
.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: black;
    color: white;
    padding: 1rem;
    break-inside: avoid; /*not spliting between colums*/
}

.columns .quote {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: black;
    column-span: all; /* going throug all columns */
}